<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>dPGP.js Admin</title>
	
</head>

<body>
{% for problem in problems %}
<div style="border-style:solid;border-width:2px;padding:3px">
	<div>Name: {{ problem.name }}</div>
	<div>Comments: {{ problem.comments }}</div>
    <div>Best fitness: {{ problem.bestFitness }}</div>
    <div>Best program: {{ problem.bestProgram }}</div>
	<div><a href="/worker{{ problem.id }}">Worker link</a></div>
	<div><a href="/admin/edit{{ problem.id }}">Edit</a></div>
</div>
{% end %}

</body>
</html>
